*{
--section_height: auto;
font-size:16px;
--fontsize_h1: clamp(4vmin, 3.052rem,7vmin);
--fontsize_h2: clamp(5vmin, 2.441rem, 6vmin);
--fontsize_h3: 1.953rem;
/*--fontsize_h4: 1.563rem;*/
--fontsize_h5: 1.25rem;
--fontsize_h6: 0.875rem;
--fontsize_body: 0.875rem;
--tontsize_small: 0.75rem;
--typeface_heading: 'Inter', sans-serif;
--typeface_body: 'IBM Plex Sans', sans-serif;

--textColor: white;
--bgColor: black;
--blue01: #14A1DE;
--blue02: #0066b0;
--link_idle: var(--textColor);
}

body{
  margin:0;
  padding:0;
  color: var(--textColor);
  background:var(--bgColor);
  background: var(--bgColor);
  background-image: linear-gradient(45deg,var(--blue_dark),var(--blue_mid)),radial-gradient(circle, rgba(255,255,255,0.2) 0.07rem, rgba(0,0,0,0.0) 0.07rem);
  background-size:100vw 100vh,1rem 1rem;
  background-repeat: no-repeat,repeat;
}
figure{
  margin:0;
  padding:0;
}
.heading_01{
  font-size: var(--fontsize_h1);
  font-family: var(--typeface_heading);
  font-weight:200;
  line-height:1.5;
  margin:0;
}
.paragraph__ul {
  
  margin:auto;
}
.paragraph__ul *{
  list-style-type:circle;
  text-align:left;
  
}
.left_align{
  text-align:left;
}
.section--left_align *{
  text-align:left;
}
.heading_04{
  font-size: var(--fontsize_h4);
  font-family: var(--typeface_heading);
  font-weight:400;
}
/*
.heading_02{
  font-size: var(--fontsize_h2);
  font-family: var(--typeface_heading);
  font-weight:200;
  line-height:1.25;
}
.heading_03{
  font-size: var(--fontsize_h3);
  font-family: var(--typeface_heading);
  line-height:1.5;
}
.heading_04{
  font-size: var(--fontsize_h4);
  font-family: var(--typeface_heading);
}
.heading_05{
  font-size: var(--fontsize_h5);
  font-family: var(--typeface_heading);
}
.heading_06{
  font-size: var(--fontsize_h6);
  font-family: var(--typeface_heading);

}*/
.text_body{

    max-width:60rem;
    width:75%;
    /*margin:auto;*/
    margin-bottom:2rem;
}
.text_small{
  font-size: var(--fontsize_small);
  font-family: var(--typeface_body);
  font-weight:300;
}
.figcaption{
  margin-top:0.5rem;
}
#main_container{
  position:relative;
  width:100%;
  height:auto;
  margin:0;
  padding:0;

}
.paragraph{
  line-height:1.8;
}
.paragraph a{
  color:inherit;
}
#avinvadas_logo{
  width:3rem;
  height:3rem;
  position:fixed;
  z-index:2;
  display:flex;
  justify-content:center;
  align-content:center;
}
.logo_link{
  position:relative;
  width:2rem;
  height:2rem;
  margin:auto;
  align-self:center;
  color:inherit;
}
.product_slide{
  padding:0;
  margin:auto;
  width:100%;
  min-height: 100vh;

  display:grid;
  grid-template-columns: auto 80% auto;
  grid-template-rows:  50% 50%;
  padding-bottom: 3rem;
  padding-top: 3rem;
  
}
.main_header{
  grid-column-start:2 ;
  grid-column-end:3 ;
  grid-row-start:1 ;
  grid-row-end: 2 ;
  text-align:left;

}
.slide__heading{
  margin:0;
  margin-top:1.33rem;
  margin-bottom:0.66rem;
  padding:0;
  color:var(--textColor);
}
.slide__content{
  color:var(--textColor);
  width:100%;
  max-width:80vmin;
  height:fit-content;
  
  grid-column-start:2 ;
  grid-column-end:3 ;
  grid-row-start:2 ;
  grid-row-end: 3 ;
  margin:auto;
  text-align:left;
  margin-top:4rem;
}

.slide__content--fullRange{
  color:var(--textColor);
  width:100%;
  height:fit-content;
  grid-column-start:1 ;
  grid-column-end:5 ;
  grid-row-start:1 ;
  grid-row-end: 3 ;
  margin:2rem  0;
  
  text-align:center;

}

.slide__content--projects{
  grid-column-start:2 ;
  grid-column-end:3 ;
  grid-row-start:1 ;
  grid-row-end: 3 ;
}

.fullRange__image{
  width:100%;
  height:auto;
  min-height:50vmax;
  overflow:hidden;
background:black;
margin-top:7rem;
}
.fullRange__image img{
  width:100%;
  height:auto;
  min-height:80vmin;
  object-fit: cover;
  margin:0;
  padding:0;

}
.images_x2{
  width:100%;
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

  row-gap: 0.2rem;
  column-gap: 0.2rem;
  align-self:center;
  margin:auto;
  margin-top:4rem;
}
.image_single{
  margin:auto;
  margin-top:2rem;
  max-width:60vw;
}
.gallery_image{
  position:relative;
  padding:0;
  margin:0;
  width:100%;
  height:auto;
}
.project_li__data{
  display:flex;
  text-align:left;
  align-items:flex-start;

  margin-top:1rem;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
}
.project_li__data .heading_06{

margin-bottom:0.5rem;
}
.pretext{


}
.copyright{
  margin-top:10rem;
  opacity:0.66;
}
.text_and_image{
  grid-row-start:2;
  grid-row-end:3;
  grid-column-start:1;
  grid-column-end:3;
  margin:auto;
  padding:0;
  display:grid;
  grid-template-columns:1fr 3fr;
  grid-template-rows:1fr;
  place-items:center;
  text-align:left;

  width:100%;
  margin:auto;

  /*display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-around;*/

}
.content_2segs{
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  place-items:center;

}
.content_2segs *{
  margin:auto;

}
.content_2segs :last-child{
  padding-left:1rem;
  /*border-left: solid 1px var(--textColor);*/
}

.text_and_image *{
margin:auto;
padding:0;
}
.li_contact{
  font-size: var(--fontsize_body);
  font-family: var(--typeface_body);
  color: var(--textColor);
}
.li_contact a, .internal_heading{
  font-size: var(--fontsize_body);
  font-family: var(--typeface_body);
  color: var(--textColor);
}
.icons_container{
  width: 80vmin;
  height: fit-content;
  grid-column-start:1 ;
  grid-column-end:8 ;
  grid-row-start:1 ;
  grid-row-end: 2 ;
  display:grid;
  gap:2rem;
  margin-top:5rem;
  place-self:end center;
  display:grid;
grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr ;
place-items:center;

}
#AppScan{
  animation: fadein 1s forwards;
    opacity:1;
    grid-column-start:3 ;
    grid-column-end:5;
    grid-row-start:2 ;
    grid-row-end: 3;
    place-self: center start ;
    margin:auto;
    margin-top:0;
    height:fit-content;
    transform: scale(2.0);
    overflow:visible;
}
#AppScan .svg_container{
  background:transparent;
}
.svg_container{

  background-image:linear-gradient(var(--bright01), var(--bright04));
  border-radius:15%;
  padding:10%;
  width:75%;
 height:auto;
 margin:0;
 
}

#ASD{
  grid-column-start:3 ;
  grid-column-end:5 ;
  grid-row-start:2 ;
  grid-row-end: 3 ;
  
  height:fit-content;
  margin: auto;
  margin-top:0;
  place-self: start center;
  

}
#ASE{
  grid-column-start:5 ;
  grid-column-end:7 ;
  grid-row-start:2 ;
  grid-row-end: 3 ;
  
  height:fit-content;
}
#GO{

height:fit-content;
grid-column-start:4;
  grid-column-end:6 ;
  grid-row-start:1 ;
  grid-row-end: 2 ;
  
  height:fit-content;
}
#ASoC{
  grid-column-start:1 ;
  grid-column-end:3 ;
  grid-row-start:2 ;
  grid-row-end: 3 ;
  
  height:fit-content;
}
#SRC{
  grid-column-start:2 ;
  grid-column-end:4 ;
  grid-row-start:1 ;
  grid-row-end: 2 ;
  
  height:fit-content;
}
.pretext{
  grid-column-start:2 ;
  grid-column-end:7 ;
  grid-row-start:1 ;
  grid-row-end: 2 ;
  text-align:center;
  align-self:flex-end;
  margin-bottom: 1rem;
}
.pretext *{
margin:0.0rem;

}
.titles_binder{
  width:fit-content;
  height:100%;
  grid-column-start:1 ;
  grid-column-end:8 ;
  grid-row-start:2 ;
  grid-row-end: 3 ;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  height:fit-content;
  margin:auto;
  margin-top:3rem;
  max-width:80vmin;
  text-align:center;
  place-self:start center;
  place-items:center;

}
.titles_binder *{
  margin:0;
}
.product_title{
  text-align:center;
  vertical-align: text-top;
  color:var(--textColor);
  height:fit-content;
  margin:auto;
  margin-top:1rem;
  margin-bottom:0;
}
#product_subtitle{
  text-align:center;
  color:var(--textColor);
  height:fit-content;
  margin:Auto;
  margin-top:1rem;
width:100%;
}
#icons_slide{
  height: 100vh;
 
}
.logos_column{
  margin-top:5rem;
  margin-bottom:5rem;
}
.gallery_image{
  width:100%;
  height:auto;
}

.product_icon{
grid-column-start:2 ;
grid-column-end:3 ;
grid-row-start:2 ;
grid-row-end: 3 ;

color:var(--bright01);
margin:auto;
padding:0;
width:66%;
height:auto;
opacity:1;
text-align:center;


}



@keyframes fadein{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
.product_visible{
  opacity:1;
}
.product_hidden{
  opacity:0;
}

.product_icon{
  opacity:0;
  margin-top:0;


}

#img_logos_base{
  opacity:1;
}
#img_logos_column{
  opacity:1;
  height:fit-content;
  width:60vmin;
  max-width:30rem;
  margin:auto;
}
#slide_system__image01{
  background:var(--blue02);
  opacity:0;
}
.testimonial{
  margin-top:2rem;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  padding:1rem;
  font-family:var(--tf-body);
}
.testimonial *{
  font-family:var(--tf-body);
}
.contacts{
  margin:auto;
  height:fit-content;
}
@media only screen and (max-width: 1100px) {

  #AppScan{
    transform: scale(2.75);
  }
  .titles_binder{
    margin-top: 1rem;
    
  }
  .text_and_image{
    grid-row-start:2;
    grid-row-end:3;
    grid-column-start:1;
    grid-column-end:3;
    margin:auto;
    padding:0;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:2fr 1fr;
    place-items:center;
    text-align:center;
  }
  /*.images_x2{
    width:100%;
    display:flex;
    flex-direction:column;
    flex-flow:wrap;
    justify-content: center;
  }*/
  .content_2segs{
    display:grid;
    width:80vmin;
    grid-template-rows: 50% 50%;
    grid-template-columns: auto;
    place-items:center;
  }
  .content_2segs :last-child{
    padding:none;
    border:none;
    padding-top:1rem;
    /*border-top: solid 1px var(--textColor);*/
    width:60vmin;
  }
  .product_slide{
    padding:0;
    margin:auto;
    width:100%;
    height: var(--section_height);
    min-height:100vh;
    display:grid;
    grid-template-columns: auto 80% auto;
    grid-template-rows: 50% 50%;
    padding-bottom: 3rem;
    
  }
  .image_single{
    margin:auto;
    margin-top:2rem;
    max-width:70vw;
  }

}
