
:root {
  font-size:16px;
  --dark01: #171216;
  --dark02: #291F3A;
  --dark03: #888888;
  --bright01: #fafafa;

  --action: #ffa500;
  --accent01: #00FF00 ;
  --accent02: #12B312;
  --accent03: #136E13;
  --accent04: #0B330B;
  --primary01: #FF0080;
  --primary02: #B71063;
  --primary03: #901452;
  --primary04: #20171E;
  --primary05: #23101F;

  --internal_darks: var(--dark03);
  --line_width: 0.125em;
  --em-unitBase: 16;
  --em-unitBasePX: var(--em-unitBase) + "px";
  --body-lineHeight-min: 1.5;
  --body-lineHeight-max: 2;
  --core_tile_size: 64px;
  --border_radius: 0.2rem;
  /*breakpoints vars*/
  --min-screen-width: 300px;

  --bp-s: 24.15; /**/
  --bp-m: 43.75; /**/
  --bp-l: 60; /*960px*/
  --bp-xl: 75; /*1200px*/
  /*Typefaces*/
  --tf-heading: 'Lato', sans-serif;
  --tf-body:  'Lato', sans-serif;
  /*body vars*/
  --em-unitBase: 16;
  --em-unitBasePX: 16px;
  --body-lineHeight-min: 1.3;
  --body-lineHeight-max: 1.75;
/*typo_transition*/
  --type_distance: 0.5em;
  --type_speed: 0.3s;
}
body {
  font-size:16px;
  line-height: 1.5;
}
body,
div,
p,
th,
td,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
figcaption,
cite,
em,
b,
strong,
button {
  font-family: "arial", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-variation-settings: "wght" var(--txt-wght), "ital" var(--txt-ital);

}
strong{
  font-family: inherit;
  font-weight:600;
}
ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

}
ol li{
  list-style-type: decimal;
}
.paragraph a{
  outline:none;
  font-weight:bolder;
  padding:0.25em;
  text-decoration: none;
  color: var(--dark01);
}
.paragraph a:focus{
  border-radius:0.1em;
  background: var(--dark01);
  color: var(--bright01);
}
.project_li a {
  text-decoration: none;
  color: var(--dark01);
}
.project_li a:visited {

  color: var(--dark01);
}
.project_li a:hover {
  color: var(--dark01);
}
.project_li a:active {
  color: var(--dark01);
}

.body_container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 64px auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: var(--bright01);
}

.heading_01 {
  --fontsize_min: 2rem;
  --fontsize_max: 5.5rem;
  font-family: var(--tf-heading);
  font-size: clamp( var(--fontsize_min), 7vmin, var(--fontsize_max));
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 0.01em;
}
.heading_02 {
  --fontsize_min: 1.625rem;
  --fontsize_max: 2.25rem;
  font-family: var(--tf-heading);
  font-size: clamp( var(--fontsize_min), 4vmin, var(--fontsize_max));
  font-weight: medium;
  line-height: 1;
}
.heading_03 {
  --fontsize_min: 1.375rem;
  --fontsize_max: 1.75rem;
  font-family: var(--tf-heading);
  font-size: clamp( var(--fontsize_min), 3vmin, var(--fontsize_max));
  font-weight: bold;
  line-height: 1.25;
}
.heading_04 {
  --fontsize_min: 1rem;
  --fontsize_max: 1.25rem;
  font-family: var(--tf-heading);
  font-size: clamp( var(--fontsize_min), 2vmin, var(--fontsize_max));
  font-weight: light;
  line-height: 1.5;
}
.heading_05 {
  --fontsize_min: 0.875rem;
  --fontsize_max: 1rem;
  font-family: var(--tf-body);
  font-size: clamp( var(--fontsize_min), 5vmin, var(--fontsize_max));
  font-weight: bold;
  line-height: 1.5;
}
.heading_06 {
  --fontsize_min: 0.75rem;
  --fontsize_max: 1rem;
  font-family: var(--tf-body);
  font-size: clamp( var(--fontsize_min), 4vmin, var(--fontsize_max));
  font-weight: bold;
  line-height: 1.5;
}
.paragraph, .paragraph * {
  --fontsize_min: 0.875rem;
  --fontsize_max: 1.5rem;
  font-family: var(--tf-body);
  font-size: clamp( var(--fontsize_min), calc(0.5rem + 2vmin), var(--fontsize_max));
  font-weight: 300;
  line-height: 1.5;
  width: 60vw;
  max-width: 32em;
  word-break: normal;

}
.paragraph strong{
  font-family: inherit;
  font-size: inherit;
  hyphens: inherit;
  font-weight: 600;
  line-height: inherit;

}
.small {
  --fontsize_min: 0.75rem;
  --fontsize_max: 1rem;
  font-family: var(--tf-body);
  font-size: clamp( var(--fontsize_min), 4vmin, var(--fontsize_max));

}
.service{
  color:var(--dark03);
}
.testimonial{

}
.testimonial .paragraph{
  color:var(--dark01);
}
.testimonial .citation{
  color:var(--dark02);
  font-weight:lighter;
}
.figcaption {
  font-family: var(--h6-typeface);
  font-size: calc(var(--h6-fontsize-min) * 1em);
  font-weight: var(--h6-font-weight);
  line-height: var(--h6-lineHeight);
  opacity: 0.75;
}
.section {
  width: 100%;
  margin: 0;

  padding-bottom: 6em;
  /* border-bottom: 2px solid var(--dark01);*/
}
.section__content {
  width: 80%;
  margin: auto;
}
.section__heading {
  background-image: linear-gradient(90deg,#333333 0%, var(--dark01) 50%, transparent 50%);
  background-size: 200%;
  background-position: 100% 0%;
  background-repeat: repeat-x;
  color: var(--bright01);
  padding-left: 10%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: inline-block;
  transition: 0.33s;
}
.section__heading--reveal {
  color: var(--bright01);
  background-position: 0% 0%;
}

.projects_list {
  transform: none;
  padding: 0;
  margin: 0;

  width: 66vw;
}

.project_li {
  margin: 0;
  margin-top: 4em;
  margin-left: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.project_li a:focus{
  outline:none

}
.project_li a:focus img{

  outline: 4px solid var(--accent03);

  box-shadow: -0.5em -0.5em 0 var(--accent03);

}
.project_li__client {

  display: inline-block;
  width: fit-content;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-top:0.25em;
  color: var(--dark01);
  background-image: linear-gradient(90deg, #d9d9d9, #c9c9c9);
}
.project_li__title {
  padding: 0;
  margin-bottom:0.5em;
  margin-top: 0.25em;


}
.project_li__image {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66.6%%;
  min-width: 19vw;
  max-width: 60em;
  background-image: linear-gradient(90deg, var(--internal_darks) 50%, transparent 50%);
  background-size: 200%;
  background-position: 100% 0%;
  /*border-radius: 1em 0 1em 0;*/
  transition: 0.66s;

  /*border: var(--line_width) solid var(--dark01);*/
}
.project_li__image--reveal {
  background-position: 0% 0%;

  /*border: var(--line_width) solid var(--dark01);*/
}

.project_li__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: -0.5em -0.5em 0 #333333;
}
.project_li__image img::after {
  -webkit-box-shadow: inset 0 0 1em 1em white;
  box-sizing: border-box; /* Include padding and border in element's width and height */
}
.project_li__data {
  display: flex;
  flex-direction: column;
  margin-top: 0.25em;
  margin-right: 1em;
  background-repeat: no-repeat;
  max-width: 24em;

}
.project_li__skills_list {
  padding: 0;
  margin: 0;
  display: flex;
  align-content: flex-start;
  flex-flow: row wrap;
  border-top: solid 2px var(--dark01);

}
.project_li__skill {
  /*border-radius: 1em;*/
  margin-top:0.25em;
  text-align: center;
  padding: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  color: var(--internal_darks);
  border: var(--internal_darks);
  background-size: 2em;
}
.project_li__url_list{
  padding-top:0.5rem;
  display:flex;
  border-top: solid 1px var(--dark01);
  align-items: center;
  flex-wrap: wrap;


}
.project_li__url {
  /*border-radius: 1em;*/
margin:0.25rem;
margin-right:0.5rem;
  text-align: left;

  color: var(--internal_darks);
  border: var(--internal_darks);

}
.li_textual {
  margin-top: 2em;
  width: 60vw;
  max-width: 32em;
  line-height: 1.5;
}
.li_textual .paragraph {
  margin-top:0.5em;
color: var(--dark01);
}
.statement_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.nav {
  overflow-y: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  min-height:30rem;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  background-image: linear-gradient(90deg, #d9d9d9, #c9c9c9);
  border-right: solid 1px var(--dark03);
  z-index:10;
}
.logo {
  width: 100%;
  height: var(--core_tile_size);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  color: var(--dark01);
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 0%;
  border-radius:var(--border_radius);
}
.logo:focus{
  outline:none;
  color: var(--bright01);
  background-image: linear-gradient(var(--dark02), var(--dark01));
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: 85% 85%;

}
.logotype {
  align-self: flex-start;
  height: var(--core_tile_size);
  text-align: left;
  margin: 0;
  margin-left: 0.25em;
  margin-top: 0.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.25em;
}
.logotype * {
  margin: 0;
  opacity: 1;
}
.logotype__name {
  font-size: 0.75em;
  font-weight: 500;
}
.logotype__title {
  font-size: 0.75em;
  font-weight: 300;
}
.logotype--hidden {
  opacity: 0;
  transition: all 0.6s;
}
.logo__graphics {
  width: 40px;
  height: 40px;

}
.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--core_tile_size);
}
.social_icon {
  width: 100%;
  height: var(--core_tile_size);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 85% 85%;
  background-position: 0% 0%;

  color:var(--dark01);
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 0%;
  transform:translateY(-2em);

}
.social_icon:hover {
  color:var(--accent01);
  background:var(--dark03);

}
.social_icon:focus {
  outline:none;
  border-radius:0.25em;
  color: var(--accent01);
  background-image: linear-gradient(var(--dark01), var(--dark03));
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: 85% 85%;

}
.nav_icon {
  height: var(--core_tile_size);
  visibility: hidden;
  opacity:0;
  outline:none;

  color: var(--accent04);
  background-image: linear-gradient(var(--accent02), var(--accent01));
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 0%;
  display:flex;
  justify-content:center;
  align-items:center;
  transition: all 0.25s;
  transform:translateY(-2em);
}
.nav_icon--revealed {
  visibility: visible;
  opacity:1;
  outline:none;
  border-radius:1rem;
  color: var(--accent01);
  background-image: linear-gradient( var(--dark01), #222222);
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: 85% 85%;

}
.nav_icon--revealed:hover {
  visibility: visible;
  opacity: 1;
  color: var(--bright01);
  background-image: linear-gradient(var(--accent03), var(--accent01));
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 85% 85%;
}
.nav_icon--revealed:focus {
  visibility: visible;
  opacity: 1;
  color: var(--accent01);
  background-image: linear-gradient(var(--accent03), var(--accent04));
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: 66% 66%;
  outline: 2px solid var(--accent01);
  outline-offset: -8px;
  transition: none;
}
.nav_icon_graphics {
width:24px;
height:24px;

}

.statement_box {
  margin-top: 2em;
  display: flex;
  align-items: flex-start;
  text-align: left;
  border-left: solid var(--dark01) 2px;
  padding-left: 1em;
}
.statement_box__heading {
  color: white;
  padding: 0.25em 0.5em;
  background: var(--dark02);
}
.statement_box__body{

}
.section_hero {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  height:90vh;
  min-height:30rem;
  color: var(--dark01);
  background-image: linear-gradient(90deg, #d9d9d9, #c9c9c9);
  /*background-image: linear-gradient(90deg, #222222, #2D2F38);*/
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;*/
background:var(--dark01);
overflow:hidden;
}

.client_url{
  width: fit-content;
  color: var(--bright01);
  min-height:1.5rem;
  min-width:3rem;
}
#logo_zerto{
  transform:translateX(4px);
}
.client_url:hover {
  color: var(--bright01);

}
.client_url:focus {
  color: var(--accent04);
  outline: 2px solid var(--accent01);
  background: var(--accent01);
}
.client_logo_graphics{
  width: 100%;
}

#hero_content{
  width: fit-content;
  max-width: 70vw;
  margin-right:1rem;
  margin-left: 5rem;



}

.section_hero__heading {
  font-family: 'Lato', 'sans-serif';
  font-weight:900;
  color: transparent;
  z-index: 10;
  font-size: 20vmin;
  width:100%;
  -webkit-text-stroke: 1px var(--dark01);
  line-height: 0.8;
  margin:0;
  transform-origin: left bottom;
  transform:scale(0.85);


}
.section_hero__heading > *{
  transition: all 1s;

}
.section_hero__subheading {
  margin:0;
  margin-top:1rem;
  font-family: 'Lato', 'sans-serif';
  font-weight:300;
  color: var(--dark01);
  font-size: clamp(0.875rem, 2.5vmin, 2rem);
  line-height: 1.75;
  width:100%;

}
/*words regular state*/
#your {

  display:inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  color: transparent;
  height: 15.2vmin;
  width:2.5em;
  overflow: hidden;

}

#product {

  display:inline-block;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
  height: 15.2vmin;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

}
#clearer {
  display:inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  margin-left: -0.05em;
  color: var(--dark01);
  overflow: hidden;
  height: 15.5vmin;
  width: fit-content;
  transform:translateY(-0.31vmin);

}

.hero_heading--hidden > *{
/*  transition: all 1s;
 text-indent:var(--selfIndent);*/
}

.bio_portrait{
  margin-top: 4em;
  max-width:16rem;
  max-height:20rem;
  box-shadow: -0.5em -0.5em 0 var(--dark03);
}



.button_contact {
  --fontsize_min: 0.875rem;
  --fontsize_max: 1.5rem;
  font-family: var(--tf-body);
  font-size: clamp( var(--fontsize_min), calc(0.5rem + 2vmin), var(--fontsize_max));
  font-weight: 400;
  height:calc(3rem);
  margin-top: 1.5rem;
  display: flex;
  width: 9rem;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: var(--dark01);
  border: 1px solid var(--dark01);
  border-radius: var(--border_radius);
  background-size: 200%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    90deg,
    var(--dark01) 0%,
    var(--dark01) 50%,
    transparent 50%,
    transparent 100%

  );
  box-shadow:0 0 0 rgba(0,0,0,0.25) 1em;
  background-position: 100%;
  transition: background-position 0.5s;
  padding: 0;
  padding-right: 1em;

}
.button_contact * {
  line-height: 0;
}
.button_contact:hover{
  background-position: 0%;
  color: var(--bright01);
  cursor: pointer;
}
.button_contact:focus {
  color: var(--bright01);
  background-position: 0%;
  outline: 0.1em solid var(--dark01);
  outline-offset: 0.25em;
}
.button_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  margin: 0;
}
.clients_list {
  margin-top:0.25rem;
  min-width:17rem;
  max-width: 20em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}
.nav_icon__graphics {
  align-self: center;
  width: 1.5rem;
  height: 1.5rem;
}

.clients_unit{
  margin-top: 2vmin;
  font-family: 'lato';
font-weight:200;
}
.logos_grid{
  margin-top:0.5em;
  --gridUnit_width: 8vmin;
  --gridUnit_height: 4vmin;
  display:grid;
  gap: 2vmin;
  grid-template-columns:fit-content(var(--gridUnit_width)) fit-content(var(--gridUnit_width)) fit-content(var(--gridUnit_width)) fit-content(var(--gridUnit_width));

  min-width:18rem;
  max-width:22rem;
}
.logos_grid *{
  display:grid;
  place-items:center;
 min-height: 1.5rem;
  max-height:3rem;
  min-width:3rem;
  max-width: 5rem;

}

.li_service {
  display: flex;
  flex-direction: column;
}
.li_service__title {
  margin: 0;
}
.li_service__detail {
  margin: 0;
  margin-top: 0.5em;
  opacity: 0.8;
  line-height:1.5;
}
  .halftone {
    --halftone_color:white;
    width:100%;
    height:100%;
    z-index:0;
  /*background: red;*/
  background-image: radial-gradient(
      circle,
      var(--halftone_color) 85%,
      transparent 0
    ),
    radial-gradient(circle, var(--halftone_color) 80%, transparent 0),
    radial-gradient(circle, var(--halftone_color) 75%, transparent 0),
    radial-gradient(circle, var(--halftone_color) 70%, transparent 0),
    radial-gradient(circle, var(--halftone_color) 65%, transparent 0),
    radial-gradient(circle, var(--halftone_color) 60%, transparent 0),
    radial-gradient(circle, var(--halftone_color) 55%, transparent 0),
    radial-gradient(circle, var(--halftone_color) 50%, transparent 0),
    radial-gradient(circle, var(--halftone_color) 45%, transparent 0),
    radial-gradient(circle, var(--halftone_color) 40%, transparent 0),
    radial-gradient(circle, var(--halftone_color) 35%, transparent 0),
    radial-gradient(circle, var(--halftone_color) 30%, transparent 0),
    radial-gradient(circle, var(--halftone_color) 25%, transparent 0),
    radial-gradient(circle, var(--halftone_color) 20%, transparent 0),
    radial-gradient(circle, var(--halftone_color) 15%, transparent 0),
    radial-gradient(circle, var(--halftone_color) 10%, transparent 0),
    radial-gradient(circle, var(--halftone_color) 5%, transparent 0);

  background-size: 1rem 1rem;
  background-repeat: repeat-y;
  background-position: 0 0, 1em 0, 2em 0, 3em 0, 4em 0, 5em 0, 6em 0, 7em 0,
    8em 0, 9em 0, 10em 0, 11em 0, 12em 0, 13em 0, 14em 0, 15em 0, 16em 0;
  transform-origin: bottom left;
  transform: rotate(-45deg) translateX(-40%) translateY(30%) scale(1.75);
}

}
@media only screen and (min-width: 1920px) {
:root{
  font-size:24px;
}
}

@media only screen and (max-width: 480px) {
  #hero_content{

    width: fit-content;
    margin-left: 1rem;
  }
.nav{
  border-width:2px;
}


  .project_li__title {
    padding: 0;
    margin-top: 0.5em;
  }
  .project_li__image {
    height: 50vh;
  }
}
/*
@media screen and (min-width: 24.15em) {
  h1 {
    font-size: calc(
      (var(--h1-fontsize-min) * 1em) +
        (var(--h1-fontsize-max) - var(--h1-fontsize-min)) *
        ((100vw - (var(--bp-s) * 1em)) / (var(--bp-xl) - var(--bp-s)))
    );
  }
  h2 {
    font-size: calc(
      (var(--h2-fontsize-min) * 1em) +
        (var(--h2-fontsize-max) - var(--h2-fontsize-min)) *
        ((100vw - (var(--bp-s) * 1em)) / (var(--bp-xl) - var(--bp-s)))
    );
  }
  h3 {
    font-size: calc(
      (var(--h3-fontsize-min) * 1em) +
        (var(--h3-fontsize-max) - var(--h3-fontsize-min)) *
        ((100vw - (var(--bp-s) * 1em)) / (var(--bp-xl) - var(--bp-s)))
    );
  }
  h4 {
    font-size: calc(
      (var(--h4-fontsize-min) * 1em) +
        (var(--h4-fontsize-max) - var(--h4-fontsize-min)) *
        ((100vw - (var(--bp-s) * 1em)) / (var(--bp-xl) - var(--bp-s)))
    );
  }
}

@media screen and (max-width:1200px){

.section_hero__heading{

}
.word_01{
    width:0.65em;
   margin-left:0.05em;
  margin-right:0.05em;

}

  .word_02{
    border-right:none;
width:3.1em;

}
  .word_03{
    width:0.65em;
   margin-left:0.05em;
  margin-right:0.05em;

}

}
